{% extends "base.html.twig" %}

{% block title %}Playing Bank{% endblock %}

{% block main %}
{% block gamemain %}
<div class="twenty_one_game">
<h1>Playing Bank [PLAYING]</h1>

<p>Your current hand is:
  {% if bankHand is null or bankHand is empty %}
  You have no cards yet
  {% else %}
    {% for value in bankHand %}
        {{ value }}, 
    {% endfor %}
    {% endif %}
  
  
    <p>{% if message is not empty %}
      {{ message }}
      {% endif %}
    </p>


<form method="post" action="">
  <input type="submit" name="do_it" value="Hit (Draw card)"
  onClick="this.form.action='{{ path('draw_bank') }}';this.form.method='get';">
</form>

<form method="post" action="">
    <p>
        <input type="submit" name="do_it" value="Stay (Check who won)"
        onClick="this.form.action='{{ path('bank_stay') }}';this.form.method='get';"
        >
    </p>
  </form>

<form method="post" action="">
    <p>
        <input type="submit" name="startgame" value="Start new game"
        onClick="this.form.action='{{ path('new_game') }}';this.form.method='get';"
        >
    </p>
  </form>

<br>
<br>



<!-- {{ include('flash.html.twig') }} -->
{% endblock %}
{% endblock %}