<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("{{ asset('img/background.jpg') }}");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>
</head>
<body>
  <div class="nav">
    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a href="{{ path('report') }}">Report</a></li>
        <li><a href="{{ path('lucky_number') }}">Lucky number</a></li>
    </ul>
  </div>
<div class="bg"><main>{% block body %}{% endblock %}</main></div>


</body>
</html>
